# managed by skuba
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=tsconfig-seek
# end managed by skuba

#  ERR_PNPM_RECURSIVE_EXEC_FIRST_FAIL : Command "esbuild" not found
# https://github.com/aws/aws-cdk/issues/13179#issuecomment-1570171099
public-hoist-pattern[]=esbuild
