name: Validate

on:
  pull_request:

  push:
    branches-ignore:
      - main

  workflow_run:
    branches:
      - main
    types:
      - completed
    workflows:
      - Release

env:
  COREPACK_DEFAULT_TO_LATEST: 0

permissions: {}

jobs:
  core:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN || github.token }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Set up pnpm
        run: corepack enable pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Codegen
        run: pnpm run codegen

      - name: Test
        run: pnpm run test:ci

      - name: Lint
        run: pnpm run lint
